.git
.github-lux-liang
.env
.venv
**/__pycache__
**/*.pyc
datasets
weights
runs
system/assets
system/reports
*.log
*.pem
*.key
*.pth
*.pyt
*.pt
*.ckpt
*.onnx
*.tar
*.tar.gz
android/.gradle
android/**/build
miniprogram/assets/faces
dist
