JYS_BACKEND_HOST=0.0.0.0
JYS_BACKEND_PORT=8026
JYS_FRONTEND_HOST=0.0.0.0
JYS_FRONTEND_PORT=8027
JYS_LOG_LEVEL=INFO
JYS_MODE=demo_simulation
JYS_VERSION=0.1.0
JYS_ENABLE_DEMO=true
JYS_PROJECT_ROOT=/home/luxliang/JianYuanShield
JYS_MODEL_SOURCE_ROOT=/home/luxliang/JianYuanShield
JYS_DATA_ROOT=/home/luxliang/JianYuanShield/datasets
JYS_WEIGHT_ROOT=/home/luxliang/JianYuanShield/weights
JYS_REPORT_ROOT=/home/luxliang/JianYuanShield/system/reports
JYS_ASSET_ROOT=/home/luxliang/JianYuanShield/system/assets
JYS_BENCHMARK_PYTHON=/data1/luxliang/work/vpsg_competition_candidates/.venvs/lidmark/bin/python
